* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    margin: 0 200px;
    gap: 22px;
}

/* header and navigation menu */

.hero {
    background-color: #1F2937;
    color: white;
    margin-bottom: 36px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.header .h1 {
    font-size: 24px;
    color: #f9faf8;
}

.first h1 {
    color: #f9faf8;
    font-size: 48px;
}

.first p {
    font-size: 18px;
    color: #e5e7eb;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 12px;
}

.first img {
    width: 350px;
    height: auto;
}

.first button {
    margin: 12px 0;
    padding: 8px;
    flex: 1;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 900;
}

/* section - 2 */

.second {
    text-align: center;
    margin-bottom: 48px;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.menu {
   border: 1px dotted grey;
   margin: 36px 0
}

.menu img{
    width: 200px;
    height: 100%;
    border: none;
}


/* section - 3 */

.third {
    padding: 48px 0;
    background-color: hsl(220, 13%, 91%);
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.third .author {
    text-align: right;
    padding: 15px;
    font-weight: bold;
    font-size: 24px;
}

/* section - 4 */

.fourth {
    margin: 100px 0;
    flex: 1;
    background-color: #3882F6;
    padding: 48px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.fourth-left {
    flex: 1;
    color: white;
}


.fourth-right button{
    padding: 8px;
    flex: 1;
    background-color: #3882F6;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 900;
}

/* footer */

.footer {
    background-color: #1F2937;
    display: flex;
    padding: 15px;
    color: white;
    font-size: 12px;
    justify-content: center;
    align-items: center; 
}